
*.lock
*.ide
*.ide-shm
*.ide-wal
*.sln
*.csproj
*.pdb
*.json
*.dll
*.cache
*.targets
*.props
*.txt
*.xml
*.config
*.md
*.nupkg
*.p7s
AVLTree/.vs/AVLTree/v15/.suo
AVLTree/.vs/AVLTree/DesignTimeBuild/.dtbcache
AVLTree/AVLTree.Tests/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
AVLTree/AVLTree.Tests/obj/Debug/netcoreapp2.1/AVLTree.Tests.AssemblyInfo.cs
*.CopyComplete
AVLTree/AVLTree.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AVLTree/AVLTree.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AVLTree/AVLTree.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AVLTree/AVLTree/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AVLTree/AVLTree/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AVLTree/AVLTree/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AVLTree/AVLTree/Properties/AssemblyInfo.cs
AVLTree/AVLTree.Tests/obj/Debug/netcoreapp2.1/AVLTree.Tests.Program.cs
BinTree/.vs/AVLTree/v15/.suo
BinTree/.vs/AVLTree/DesignTimeBuild/.dtbcache
BinTree/.vs/BinTree/DesignTimeBuild/.dtbcache
BinTree/.vs/BinTree/v15/.suo
*.tmp
BinTree/BinTree.Tests/obj/Debug/netcoreapp2.1/BinTree.Tests.AssemblyInfo.cs
BinTree/BinTree.Tests/obj/Debug/netcoreapp2.1/BinTree.Tests.Program.cs
BinTree/BinTree.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BinTree/BinTree.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BinTree/BinTree.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BinTree/BinTree/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BinTree/BinTree/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BinTree/BinTree/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BinTree/BinTree/Properties/AssemblyInfo.cs
